[Unit]
Description=Direct running on Ubuntu

[Service]
WorkingDirectory=/home/davidtimovski/direct
ExecStart=/snap/bin/dotnet /home/davidtimovski/direct/Direct.Web.dll
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=dotnet-direct
User=davidtimovski
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
